
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("HeaderPartial")

<body>

    @Html.Action("NavbarPartial")

    <!--  Main banner section -->
    @Html.Action("BannerPartial")
    <!--  //Main banner section -->
    @Html.Action("SkillPartial")

    @Html.Action("FeaturePartial")

    <div class="products-4" id="portfolio">
        <!-- Products4 block -->
        <div id="products4-block" class="text-center">
            <div class="container">
                <div class="heading text-center mx-auto mb-5">
                    <h3 class="head">I Love What I Do</h3>
                    <p class="my-3 head">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Nulla mollis dapibus nunc, ut rhoncus
                        turpis sodales quis. Integer sit amet mattis quam.
                    </p>
                </div>
                <input id="tab1" type="radio" name="tabs" checked>
                <label class="tabtle" for="tab1">All Projects</label>

                <input id="tab2" type="radio" name="tabs">
                <label class="tabtle" for="tab2">Illustration</label>

                <input id="tab3" type="radio" name="tabs">
                <label class="tabtle" for="tab3">Photography</label>

                <input id="tab4" type="radio" name="tabs">
                <label class="tabtle" for="tab4">Website</label>

                <section id="content1" class="tab-content text-left">
                    <div class="d-grid grid-col-3">
                        <div class="product">
                            <a href="assets/images/g1.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g1.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g2.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g2.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g3.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g3.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g4.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g4.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g5.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g5.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g6.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g6.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>


                    </div>
                </section>

                <section id="content2" class="tab-content text-left">
                    <div class="d-grid grid-col-3">
                        <div class="product">
                            <a href="assets/images/g7.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g7.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g8.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g8.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g1.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g1.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g2.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g2.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g3.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g3.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g4.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g4.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                    </div>
                </section>

                <section id="content3" class="tab-content text-left">
                    <div class="d-grid grid-col-3">
                        <div class="product">
                            <a href="assets/images/g5.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g5.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g6.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g6.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g7.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g7.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                    </div>
                </section>

                <section id="content4" class="tab-content text-left">
                    <div class="d-grid grid-col-3">
                        <div class="product">
                            <a href="assets/images/g8.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g8.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                        <div class="product">
                            <a href="assets/images/g1.jpg" data-lightbox="example-set"
                               data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                                <figure>
                                    <img src="~/Templates/my_website-starter/assets/images/g1.jpg" class="img-responsive" alt="" />
                                </figure>
                            </a>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Products4 block -->
    </div>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/lightbox-plus-jquery.min.js"></script>
    <section class="services-12" id="experience">
        <div class="form-12-content">
            <div class="container">
                <div class="grid grid-column-2 ">

                    <div class="column1">
                        <h3 class="mb-5">Experiences</h3>
                        <div class="experience-top">
                            <h5>2018 - now</h5>
                            <h4>Fulltime Freelancer</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                        <div class="experience-top">
                            <h5>2014 - 2017</h5>
                            <h4>Creative Director at Pixar Studio</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                        <div class="experience-top">
                            <h5>2010 - 2014</h5>
                            <h4>Web Designer at Microsoft</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                    </div>
                    <div class="column2">
                        <h3 class="mb-5">Education</h3>
                        <div class="experience-top">
                            <h5>2010</h5>
                            <h4>Master of Design, University of California</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                        <div class="experience-top">
                            <h5>2007</h5>
                            <h4>Bachelor of Arts, Standford University</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                        <div class="experience-top">
                            <h5>2004</h5>
                            <h4>Specialize App Design, Harvard University</h4>
                            <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-testimonials" id="testimonials">
        <div class="customers-6-content py-5">
            <div class="container py-lg-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">What They Says</h3>
                    <p class="my-3 head ">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Nulla mollis dapibus nunc, ut rhoncus
                        turpis sodales quis. Integer sit amet mattis quam.
                    </p>
                </div>

                <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#customerhnyCarousel" data-slide-to="1"></li>

                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner pb-5">

                        <div class="carousel-item active">
                            <div class="customer row py-5 mt-3">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c1.jpg" alt="">
                                            <h3 class="card-title mt-2">Henry Nicholas</h3>
                                            <p class="sub-title mb-3">Photographer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 off-testi-2">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c2.jpg" alt="">
                                            <h3 class="card-title mt-2">Mark Waugh</h3>
                                            <p class="sub-title mb-3">Web Designer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c3.jpg" alt="">
                                            <h3 class="card-title mt-2">Sarina Willams</h3>
                                            <p class="sub-title mb-3">Graphic Designer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="customer row py-5 mt-3">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c2.jpg" alt="">
                                            <h3 class="card-title mt-2">Mark Waugh</h3>
                                            <p class="sub-title mb-3">Engineer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 off-testi-2">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c3.jpg" alt="">
                                            <h3 class="card-title mt-2">Sarina Willams</h3>
                                            <p class="sub-title mb-3">Engineer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>


                                </div>
                                <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                    <div class="card">

                                        <div class="card-body">
                                            <img class="card-img-top img-responsive" src="assets/images/c1.jpg" alt="">
                                            <h3 class="card-title mt-2">Henry Nicholas</h3>
                                            <p class="sub-title mb-3">Engineer</p>
                                            <p class="card-text">
                                                "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                            </p>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--.carousel-inner-->
                </div>
            </div>
        </div>
        <!--//customers -->
    </section>

    <!-- grids block 5 -->
    <section class="w3l-footer-29-main" id="footer">
        <div class="footer-29 text-center">
            <div class="container">

                <div class="main-social-footer-29">

                    <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                    <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                    <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                </div>
                <div class="bottom-copies text-center">
                    <p class="copy-footer-29">© 2020 My Website. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>

                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- // grids block 5 -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //footer-28 block -->
    </section>

    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Smooth scrolling -->



</body>

</html>
<!-- // grids block 5 -->
