
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("HeaderPartial")

<body>

    @Html.Action("NavbarPartial")

    @Html.Action("BannerPartial")

    @Html.Action("SkillPartial")

    @Html.Action("FeaturePartial")

    @Html.Action("ImagePartial")

    @Html.Action("ExperiencePartial")

    @Html.Action("TestimonialPartial")

    @Html.Action("FooterPartial")

    @Html.Action("ScriptPartial")

</body>
</html>